.add-quiz {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
li {
  margin: 0;
}

.add-btns {
  margin-bottom: 50px;
}
.add-btns button {
  margin: 20px;
  padding: 10px;
}

.addimg {
  padding: 20px;
  border: 1px black solid;
}

.top-options {
  display: flex;
  justify-content: space-around;
  width: 20vw;
}

button {
  padding: 0;
}
