.home-page {
  height: 100vh;
  width: 100vw;
  align-items: center;
}
.addQuizBtn {
  padding: 50px;
  font-size: 2rem;
  margin: 10px 0;
  border-radius: 15px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.addQuizBtn:hover {
  border: 2px black solid;
  background: black;
  color: white;
}



.cards {
  text-align: center;
  display: flex;
}
