.home-page {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.addQuizBtn {
  padding: 50px;
  font-size: 2rem;
  margin: 10px 0;
  border-radius: 15px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.addQuizBtn:hover {
  border: 2px black solid;
  background: black;
  color: white;
}

.quizes-show {
  border: 2px black solid;
  padding: 10px;
  width: 80vw;
}

.cards {
  text-align: center;
  display: flex;
}

.card {
  border: 1px black solid;
  width: 100px;
  height: 100px;
  margin: 0 5px;
  font-size: 0.7rem;
  border-radius: 10px;
}
