.app-footer {
  background-color: $clr3;
  z-index: 10;
  padding-top: rem(5px);
  padding-bottom: rem(5px);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(66px);
  border-top-left-radius: em(30px);
  border-top-right-radius: em(30px);
}
.footer-btn {
  width: rem(47px);
  height: rem(47px);
  border: none;
  font-size: rem(21px);
  text-transform: uppercase;
  // background-color: grey;
  color: $clr1;
  outline: none;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // border:1px solid white;
}
.app-footer svg{
  cursor: pointer;
}

.app-footer .footer-btn:not(:first-child) {
  margin-left: rem(36px);
}
.app-footer > .router-link-active>svg {
  // background-color: blue;
  color: $clr2;
  fill:$clr2;
  background-color: $clr2;
}
