.app-footer {
  background-color: $clr3;
  z-index: 10;
  padding-left:rem(50px);
  padding-right:rem(50px);
  padding-top: rem(30px);
  padding-bottom: rem(30px);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: em(30px);
  border-top-right-radius: em(30px);
  @include for-normal-layout {
    justify-content: center;
  }
  @include for-narrow-layout {
    justify-content: center;
  }
}
.footer-btn {
  width: rem(24px);
  height: rem(24px);
  border: none;
  font-size: rem(21px);
  text-transform: uppercase;
  color: $clr1;
  outline: none;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.app-footer svg{
  cursor: pointer;
}

.app-footer .footer-btn:not(:first-child) {
  margin-left: rem(50px);
}
.app-footer > .router-link-active>svg {
  fill:$clr2;
}

