.join-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: em(24px);
  gap: em(10px);
}
.orange-headline-join{
    color: $clr2;
    font-family: "Lilita-One-regular", sans-serif;
    font-size: em(20px);
    text-transform: capitalize;
}




