.quiz-preview-img-container {
  max-width: rem(120px);
  height: rem(120px);
}
.quiz-preview-img-container img {
  max-width: rem(120px);
  height: rem(120px);
  object-fit: cover;
  display: block;
  padding: 0;
  margin: 0;
}

.quiz-preview-card {
  border: 1px solid black;
  padding: rem(13px);
}

.quiz-preview-btn-container {
  position: relative;
  top: -26px;
}
.quiz-preview-like-count {
  width: rem(30px);
  height: rem(30px);
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-preview-like-btn {
  width: rem(30px);
  height: rem(30px);
  background-color: lightgray;
  border: none;
}

.quiz-preview-details{
  padding-left: rem(18px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quiz-preview-card p{
  padding: 0;
  margin:0;
}
.quiz-preview-timer{
  text-align: right;
}
.quiz-preview-timer span{
  font-size: rem(40px);
}