.answers {
  width: 100%;
}


.possible-answers{
  display: flex;
  flex-direction: column;
}

.possible-answers button {
  justify-content: center;
  margin-bottom: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  align-items: center;
  background-color: white;
  cursor: pointer;
  transition: 0.3s ease-out transform;
}

.possible-answers button:hover {
  // transform: scale(1.1);
}
