.quiz-list-container {
  display: grid;
  margin-bottom:em(100px);
  @include for-mobile-layout {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  @include for-narrow-layout {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  @include for-normal-layout {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
