.tags-show {
  margin-bottom: 100px;
}

.btn-quiz {
  width: 39px;
  height: 39px;
  position: relative;
}
.quiz-details-img {
  width: 295px;
  height: 295px;
  display: block;
  margin: 0 auto;
  // object-fit: cover;
}

.quiz-details {
  width: 100vw;
}
