.quiz-preview-img-container {
  height: rem(190px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom:em(5px);
  background-position: bottom;
  border-radius: rem(10px);
  @include for-normal-layout {

  }
  @include for-narrow-layout {

  }
  @include for-mobile-layout {
    width: 100%;
    margin-right:10px;
  }
}
.live-badge{
  position:absolute;
  border-radius: em(300px);
  width: em(50px);
  height: em(50px);
  z-index: 9;
  color: white;
  top:-20px;
  right: -20px;
  font-family: "Lilita-One-regular", sans-serif;
  background-color: $clr2;

}
.quiz-preview-card {
  padding: rem(8px);
  position: relative;
  background-color: $clr3;
  border-radius: rem(10px);
  display: flex;
  cursor: pointer;
  transition: all ease-in-out .3s;
  @include for-mobile-layout {
    flex-direction: row;
  }
  @include for-normal-layout {
    flex-direction: column;
  }
  @include for-narrow-layout {
    flex-direction: column;
  }
}
.quiz-preview-card:hover{
  transform: scale(1.01);
}

.quiz-preview-btn-container {
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: rem(10px);
  overflow: hidden;
}
.quiz-preview-like-count {
  width: rem(30px);
  height: rem(30px);
  background-color: rgba(0, 0, 0, 0.5);
  color: $clr3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: rem(5px);
}

.quiz-preview-like-btn {
  width: rem(30px);
  height: rem(30px);
  fill: $clr3;
  padding-left:em(5px);
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: rem(5px);
  border: none;
  cursor: pointer;
  outline: none;
}

.quiz-preview-details {
  width: 100%;
  font-family: "Titillium-Web";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quiz-preview-card p {
  padding: 0;
  margin: 0;
}
.quiz-preview-timer {
  text-align: right;
}
.quiz-preview-timer span {
  font-size: rem(40px);
}
.quiz-name{
  text-transform: capitalize;

  margin-top: -2px;
  margin-bottom: 10px;

}
.creator{

}
.card-btn {
  background-color: $clr1;
  color: $clr3;
  width: rem(70px);
  height: rem(40px);
  border-radius: rem(5px);
  cursor: pointer;
}
.card-btn a {
  color: $clr2;
  text-decoration-line: none;
  font-size: rem(19px);
}

.liked-game{
  fill: red;
}