.message {
  text-transform: uppercase;
}

.questions-sum {
  margin-bottom: 100px;
}
.questions-sum span {
  padding: 5px;
}

.questions-sum li {
  border: 0.5px black solid;
}

.score-prec {
  font-size: 5rem;
  margin: 0;
}

.quiz-end button.big-btn {
  margin-bottom: 20px;
}

.show-questions-btn {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
