.quiz-details {
  // padding-top: em(50px);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-details-action {
  background-color: $clr3;
  border: none;
  border-radius: em(10px);
}
.quiz-details-action span {
  color: gray;
}
.quiz-details-action h2 {
  font-size: em(30px);
}
.best-score h2 {
  color: white;
  font-size: rem(30px);
}
.best-score span {
  color: grey;
}

.start-time h2 {
  color: white;
  font-size: rem(30px);
}
.start-time span {
  color: grey;
}
.quiz-img {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left:0;
  z-index: -2;
  filter: blur(10px);
  background-size: cover;
}
