.quiz-preview-img-container {
  height: rem(160px);
  width: 100%;
  background-size: cover;
  position: relative;
  border-radius: rem(10px);
  @include for-normal-layout {

  }
  @include for-narrow-layout {

  }
  @include for-mobile-layout {
    width: 100%;
    margin-right:10px;
  }
}
.quiz-preview-card {
  padding: rem(8px);
  background-color: $clr3;
  border-radius: rem(10px);
  display: flex;
  @include for-mobile-layout {
    flex-direction: row;
  }
  @include for-normal-layout {
    flex-direction: column;
  }
  @include for-narrow-layout {
    flex-direction: column;
  }
}

.quiz-preview-btn-container {
  position: absolute;
  bottom: 0;
}
.quiz-preview-like-count {
  width: rem(30px);
  height: rem(30px);
  background-color: rgba(0, 0, 0, 0.5);
  color: $clr3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: rem(5px);
}

.quiz-preview-like-btn {
  width: rem(30px);
  height: rem(30px);
  fill: $clr3;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: rem(5px);
  border: none;
  cursor: pointer;
  outline: none;
}

.quiz-preview-details {
  // padding-left: rem(18px);
  width: 100%;
  font-family: "Titillium-Web";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quiz-preview-card p {
  padding: 0;
  margin: 0;
}
.quiz-preview-timer {
  text-align: right;
}
.quiz-preview-timer span {
  font-size: rem(40px);
}
.card-btn {
  background-color: $clr1;
  color: $clr3;
  // padding-right: rem(5px);
  // padding-left: rem(5px);
  width: rem(70px);
  height: rem(40px);
  border-radius: rem(5px);
  cursor: pointer;
}
.card-btn a {
  color: $clr2;
  text-decoration-line: none;
  font-size: rem(19px);
}
