.answers {
  width: 100%;
}


.possible-answers{
  display: flex;
  flex-direction: column;
}
.question-render{
  padding: 0;
  padding-bottom: 21px;
}

.possible-answers button {
  justify-content: center;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  padding-top:10px;
  padding-bottom: 10px;
  align-items: center;
  background-color: white;
  cursor: pointer;
  transition: 0.3s ease-out transform;
}

.quest-time{
  font-weight: bold;
  font-size: 24px;
}
