.quiz-details {
  padding-top: em(50px);
}
.quiz-details-action {
  background-color: $clr3;
  border: none;
  border-radius: em(10px);
}
.quiz-details-action span {
  color: gray;
}
.quiz-details-action h2 {
  font-size: em(30px);
}
.best-score h2 {
  color: white;
  font-size: rem(30px);
}
.best-score span {
  color: grey;
}

.start-time h2 {
  color: white;
  font-size: rem(30px);
}
.start-time span {
  color: grey;
}
.quiz-img {
  height: em(400px);
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: bottom;
  border-radius: em(10px);
  margin-bottom: em(50px);
}
