* {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: "Titilium-web", sans-serif;
  font-size: 14px;
  
}

body {
  margin: 0;
  height: 100vh;
  background-image: radial-gradient($clr5 5%,$clr1 60%);
}

img {
  max-width: 100%;
}
a {
  padding: 0;
  margin: 0;
}
button {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
