.small-btn {
  width: rem(39px);
  height: rem(39px);
  background-color: lightgray;
}
.mid-btn {
  width: rem(180px);
  height: rem(37px);
  background-color: $clr2;
  color: $clr3;
  margin-bottom: rem(11px);
  font-size: rem(19px);
  border:none;
  
  border-radius: rem(13px);
}
.quiz-details-like-btn {
    width: rem(30px);
    height: rem(30px);
    background-color: lightgray;
}

.pink-btn{
  background-color: $clrbtn2;
  border:none;
  font-size: rem(16px);
  color: white;
  padding: em(16px);
  width: em(200px);
  border-radius: em(10px);
  outline: none;
  box-shadow: 0 0 5px 0px black;
  margin: em(5px);
}