/* Breakpoint mixins */

$mobile-breakpoint: 460px;
$narrow-breakpoint: 660px;
$normal-breakpoint: 790px;

@mixin for-mobile-layout {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $narrow-breakpoint) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $normal-breakpoint) {
        @content;
    }
}